#include "resource.h"

IDI_APP ICON DISCARDABLE "../assets/original/PBRUSH.ICO"

IDR_MAIN_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N", ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
        MENUITEM "Save &As...", ID_FILE_SAVE_AS
        MENUITEM "&Attributes...", ID_FILE_ATTRIBUTES
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4", ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z", ID_EDIT_UNDO
        MENUITEM "C&lear Image", ID_EDIT_CLEAR
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Color Toolbox", ID_VIEW_COLOR_TOOLBOX
        MENUITEM "&Monochrome Toolbox", ID_VIEW_BW_TOOLBOX
        MENUITEM SEPARATOR
        MENUITEM "Zoom &1x", ID_VIEW_ZOOM_1X
        MENUITEM "Zoom &2x", ID_VIEW_ZOOM_2X
        MENUITEM "Zoom &4x", ID_VIEW_ZOOM_4X
        MENUITEM "Zoom &8x", ID_VIEW_ZOOM_8X
        MENUITEM SEPARATOR
        MENUITEM "&Pixel Grid", ID_VIEW_PIXEL_GRID
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About CE Paintbrush...", ID_HELP_ABOUT
    END
END

IDB_TOOLBOX_COLOR BITMAP DISCARDABLE "../assets/original/CTOOLS.BMP"
IDB_TOOLBOX_BW BITMAP DISCARDABLE "../assets/original/BWTOOLS.BMP"
IDB_ARROW BITMAP DISCARDABLE "../assets/original/ARROW.BMP"

IDC_FLOOD CURSOR DISCARDABLE "../assets/original/FLOOD.CUR"
IDC_CROSSH CURSOR DISCARDABLE "../assets/original/CROSSH.CUR"
IDC_DUMMY CURSOR DISCARDABLE "../assets/original/DUMMY.CUR"
IDC_XDUMMY CURSOR DISCARDABLE "../assets/original/XDUMMY.CUR"
IDC_SIDE2 CURSOR DISCARDABLE "../assets/original/SIDE2.CUR"
IDC_PICK CURSOR DISCARDABLE "../assets/original/PICK.CUR"
IDC_PB_IBEAM CURSOR DISCARDABLE "../assets/original/IBEAM.CUR"
IDC_BOXX1 CURSOR DISCARDABLE "../assets/original/BOXX1.CUR"
IDC_BOXX2 CURSOR DISCARDABLE "../assets/original/BOXX2.CUR"
IDC_BOXX3 CURSOR DISCARDABLE "../assets/original/BOXX3.CUR"
IDC_BOXX4 CURSOR DISCARDABLE "../assets/original/BOXX4.CUR"
IDC_BOXX5 CURSOR DISCARDABLE "../assets/original/BOXX5.CUR"
IDC_BOXX7 CURSOR DISCARDABLE "../assets/original/BOXX7.CUR"
IDC_BOX1 CURSOR DISCARDABLE "../assets/original/BOX1.CUR"
IDC_BOX2 CURSOR DISCARDABLE "../assets/original/BOX2.CUR"
IDC_BOX3 CURSOR DISCARDABLE "../assets/original/BOX3.CUR"
IDC_BOX4 CURSOR DISCARDABLE "../assets/original/BOX4.CUR"
IDC_BOX5 CURSOR DISCARDABLE "../assets/original/BOX5.CUR"
IDC_BOX7 CURSOR DISCARDABLE "../assets/original/BOX7.CUR"
IDC_RECT1 CURSOR DISCARDABLE "../assets/original/RECT1.CUR"
IDC_RECT2 CURSOR DISCARDABLE "../assets/original/RECT2.CUR"
IDC_RECT3 CURSOR DISCARDABLE "../assets/original/RECT3.CUR"
IDC_RECT4 CURSOR DISCARDABLE "../assets/original/RECT4.CUR"
IDC_RECT5 CURSOR DISCARDABLE "../assets/original/RECT5.CUR"
IDC_RECT7 CURSOR DISCARDABLE "../assets/original/RECT7.CUR"
IDC_RECT9 CURSOR DISCARDABLE "../assets/original/RECT9.CUR"
IDC_RECT11 CURSOR DISCARDABLE "../assets/original/RECT11.CUR"
IDC_OVAL1 CURSOR DISCARDABLE "../assets/original/OVAL1.CUR"
IDC_OVAL2 CURSOR DISCARDABLE "../assets/original/OVAL2.CUR"
IDC_OVAL3 CURSOR DISCARDABLE "../assets/original/OVAL3.CUR"
IDC_OVAL4 CURSOR DISCARDABLE "../assets/original/OVAL4.CUR"
IDC_OVAL5 CURSOR DISCARDABLE "../assets/original/OVAL5.CUR"
IDC_OVAL7 CURSOR DISCARDABLE "../assets/original/OVAL7.CUR"
IDC_OVAL9 CURSOR DISCARDABLE "../assets/original/OVAL9.CUR"
IDC_OVAL11 CURSOR DISCARDABLE "../assets/original/OVAL11.CUR"
IDC_VERT1 CURSOR DISCARDABLE "../assets/original/VERT1.CUR"
IDC_VERT2 CURSOR DISCARDABLE "../assets/original/VERT2.CUR"
IDC_VERT3 CURSOR DISCARDABLE "../assets/original/VERT3.CUR"
IDC_VERT4 CURSOR DISCARDABLE "../assets/original/VERT4.CUR"
IDC_VERT5 CURSOR DISCARDABLE "../assets/original/VERT5.CUR"
IDC_VERT7 CURSOR DISCARDABLE "../assets/original/VERT7.CUR"
IDC_VERT9 CURSOR DISCARDABLE "../assets/original/VERT9.CUR"
IDC_VERT11 CURSOR DISCARDABLE "../assets/original/VERT11.CUR"
IDC_HORZ1 CURSOR DISCARDABLE "../assets/original/HORZ1.CUR"
IDC_HORZ2 CURSOR DISCARDABLE "../assets/original/HORZ2.CUR"
IDC_HORZ3 CURSOR DISCARDABLE "../assets/original/HORZ3.CUR"
IDC_HORZ4 CURSOR DISCARDABLE "../assets/original/HORZ4.CUR"
IDC_HORZ5 CURSOR DISCARDABLE "../assets/original/HORZ5.CUR"
IDC_HORZ7 CURSOR DISCARDABLE "../assets/original/HORZ7.CUR"
IDC_HORZ9 CURSOR DISCARDABLE "../assets/original/HORZ9.CUR"
IDC_HORZ11 CURSOR DISCARDABLE "../assets/original/HORZ11.CUR"
IDC_SLANTL1 CURSOR DISCARDABLE "../assets/original/SLANTL1.CUR"
IDC_SLANTL2 CURSOR DISCARDABLE "../assets/original/SLANTL2.CUR"
IDC_SLANTL3 CURSOR DISCARDABLE "../assets/original/SLANTL3.CUR"
IDC_SLANTL4 CURSOR DISCARDABLE "../assets/original/SLANTL4.CUR"
IDC_SLANTL5 CURSOR DISCARDABLE "../assets/original/SLANTL5.CUR"
IDC_SLANTL7 CURSOR DISCARDABLE "../assets/original/SLANTL7.CUR"
IDC_SLANTL9 CURSOR DISCARDABLE "../assets/original/SLANTL9.CUR"
IDC_SLANTL11 CURSOR DISCARDABLE "../assets/original/SLANTL11.CUR"
IDC_SLANTR1 CURSOR DISCARDABLE "../assets/original/SLANTR1.CUR"
IDC_SLANTR2 CURSOR DISCARDABLE "../assets/original/SLANTR2.CUR"
IDC_SLANTR3 CURSOR DISCARDABLE "../assets/original/SLANTR3.CUR"
IDC_SLANTR4 CURSOR DISCARDABLE "../assets/original/SLANTR4.CUR"
IDC_SLANTR5 CURSOR DISCARDABLE "../assets/original/SLANTR5.CUR"
IDC_SLANTR7 CURSOR DISCARDABLE "../assets/original/SLANTR7.CUR"
IDC_SLANTR9 CURSOR DISCARDABLE "../assets/original/SLANTR9.CUR"
IDC_SLANTR11 CURSOR DISCARDABLE "../assets/original/SLANTR11.CUR"
